.head{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    padding: 2rem;
}
h1{
    font-size: 13rem;
}
h3{
    font-size: 3rem;
}
#small{
    margin-top: 24px;
    font-size: 1.5rem;
}
.btns{
text-align: center;
margin-top: 44px;
}
.btn{
    width: 14rem;
}
@media (max-width:540px) {
    h1{
        font-size: 8rem;
    }
    h3{font-size: 2rem;}
    .btn{margin-bottom: 4rem;}
}
@media (max-width:764px) {
    
    .btn{margin-bottom: 4rem;}
}
